.assessment-section{
  width: 60%;
  margin: 150px auto;
  h2 {
    text-align: center;
  }
  p {
    font-family: 'Arvo';
  }
  img{
    height: 100px;
  }
  #start-assessment-btn {
    background: none;
    border: none;
    background: $gray;
    color: $main;
    font-size: 1rem;
    &:hover, &:focus {
      background: $main;
      color: $white;
      outline: none;
    }
  }
}

#question-section {
  padding: 0 20px;
  margin: 150px auto;
  h3 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: lighter;
    font-family: $sans, sans-serif;
  }
#not-me, #me {
    width: 46%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    border: 1px solid $black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 60px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  #select-answer {
    width: 60%;
    margin: 0 auto;
    #not-me {
      &:hover {
        background: linear-gradient(80deg, rgba(#FF9145, 0.9), rgba($main, 0.7));
        color: $white;
        border: none;
        cursor: pointer;
      }
    }
    #me {
      &:hover {
        background: linear-gradient(80deg, rgba($main, 0.9), rgba(#FF9145, 0.7));
        color: $white;
        border: none;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 500px) {
  #question-section {
    margin-top: 110px;
    h3 {
      font-size: 2.5rem;
      margin-bottom: 30px;
      color: $main;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;
    }
    #select-answer {
      width: 90%;
      #me, #not-me {
        font-family: $sans;
        display: block;
        width: 65%;
        margin: 0 auto 20px auto;
        padding: 20px;
        box-shadow: $shadow;
        border: 1px solid $gray;
      }
    }
  }
  .assessment-section {
    margin: 100px auto;
    width: 80%;
    h3 {
      font-size: 2.5rem;
    }
  }
}
