.assessment-section{
  width: 100%;
  margin: 60px auto 0 auto;
  h2 {
    text-align: center;
    padding: 60px 0;
    background: linear-gradient(to bottom, rgba($main, 0.9), rgba($main, 0.6));
    color: $white;
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0;
  }
  #assessment-image {
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
  }
  .assessment-description {
    width: 70%;
    max-width: 700px;
    margin: 30px auto 10px auto;
  }
  img{
    height: 100px;
  }
  #start-assessment-btn {
    background: none;
    border: 1px solid $main;
    width: 70%;
    max-width: 700px;
    margin: 10px auto 40px auto;
    display: block;
    padding: 10px 0;
    background: $main;
    color: $white;
    font-size: 1rem;
    &:hover, &:focus {
      background: none;
      color: $main;
      outline: none;
      cursor: pointer;
    }
  }
  #about-traitify {
    background: $gray;
    text-align: center;
    padding: 10px 0 40px 0;
    p {
      margin: 0 auto;
    }
  }
}

#question-section {
  margin-top: 110px;
  #question-count {
    display: inline-block;
    margin-left: 3%;
    padding-bottom: 10px;
    border-bottom: 2px solid $gray;
    color: $main;
  }
  h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: $black;
    height: 100px;
    text-align: center;
    font-weight: lighter;
  }
  #select-answer {
    text-align: center;
    font-size: 1.3rem;
    #me, #not-me {
      font-family: $sans;
      display: block;
      width: 65%;
      max-width: 375px;
      margin: 0 auto 20px auto;
      padding: 20px;
      box-shadow: $shadow;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
      }
    }
    #me {
      background: $main;
      color: $white;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    #not-me {
      background: none;
      border: 1px solid $main;
      color: $main;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 800px) {
  .assessment-section{
    width: 100%;
    margin: 60px auto 0 auto;
    h2 {
      text-align: center;
      padding: 60px 0;
      background: linear-gradient(to bottom, rgba($main, 0.9), rgba($main, 0.6));
      color: $white;
      font-size: 2rem;
      font-weight: lighter;
      margin-bottom: 0;
    }
    #assessment-image {
      width: 100%;
      height: 290px;
      background-size: cover;
      background-position: center;
    }
    p {
      width: 80%;
      margin: 30px auto 10px auto;
    }
    img{
      height: 100px;
    }
    #start-assessment-btn {
      background: none;
      border: 1px solid $main;
      width: 80%;
      margin: 10px auto 40px auto;
      display: block;
      padding: 10px 0;
      background: $main;
      color: $white;
      font-size: 1rem;
      &:hover, &:focus {
        background: none;
        color: $main;
        outline: none;
      }
    }
    #about-traitify {
      background: $gray;
      text-align: center;
      padding: 10px 0 40px 0;
      p {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 450px) {
  .assessment-section {
    .assessment-description {
      width: 85%;
    }
  }
}
