#custom-cocktail-page {
  h3 {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 150px;
  }
  #new-recipe-link {
    text-align: center;
    display: block;
    color: $main;
    font-size: 1.4rem;
    text-decoration: none;
    &:hover {
      color: $main;
      text-decoration: underline;
    }
  }
}

#custom-cocktail-form {
  width: 70%;
  margin: 120px auto;
  font-size: 1.1rem;
  border: 1px solid $gray;
  h2 {
    font-family: Raleway;
    font-weight: lighter;
    text-align: center;
    color: $white;
    background: $main;
    font-size: 1.7rem;
    letter-spacing: -0.7px;
    position: relative;
    bottom: 45px;
    width: 350px;
    margin: 30px auto;
  }
  #cocktail-name, #cocktail-instructions {
    display: block;
    width: 90%;
    margin: 15px auto;
    font-size: 0.9rem;
    padding: 10px;
  }
  #new-ingredient-wrapper, #new-ingredient-quantity-wrapper {
    display: inline-block;
    width: 40%;
    label {
      margin: 0 5px 0 0;
    }
    input {
      width: 65%;
      font-size: 0.9rem;
      padding: 10px;
      box-sizing: border-box;
    }
  }
  #new-ingredient-wrapper {
    margin-left: 25px;
  }
  #cocktail-glass-wrapper {
    input {
      display: block;
      width: 90%;
      margin: 15px auto;
      font-size: 0.9rem;
      padding: 10px;
    }
  }
  #cocktail-difficulty-wrapper {
    margin-top: 25px;
    input {
      display: block;
      width: 50%;
      margin: 5px auto;
    }
  }
  #image-uploader-wrapper {
    margin-top: 25px;
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
    }
    label {
      background: $white;
      color: $main;
      border: 2px solid $main;
      padding: 10px;
      font-size: 0.9rem;
      &:hover {
        background: $main;
        color: $white;
      }
    }
  }
  #submit-cocktail {
    display: block;
    margin: 20px auto 5px auto;
    background: $white;
    border: 2px solid $main;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    color: $main;
    padding: 5px 10px;
    font-size: 1rem;
    outline: none;
    &:hover {
      color: $white;
      background: $main;
    }
  }
  div {
    margin: 5px 0;
  }
  label {
    margin: 0 25px;
  }
}
#ingredients-list {
  p {
    display: inline-block;
    margin: 0 5px;
  }
  #delete-btn {
    padding: 0 0 10px 0;
    background: none;
    border: none;
    color: $main;
    &:hover {
      color: $black;
      cursor: pointer;
    }
  }
}
