#custom-cocktail-page {
  h3 {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 150px;
  }
  #new-recipe-link {
    text-align: center;
    display: block;
    color: $main;
    font-size: 1.4rem;
    text-decoration: none;
    &:hover {
      color: $main;
      text-decoration: underline;
    }
  }
}

#custom-cocktail-form {
  width: 680px;
  margin: 120px auto 50px auto;
  font-size: 1.1rem;
  border: 1px solid $gray;
  input, textarea {
    border: 1px solid $gray;
  }
  #add-ingredient {
    background: none;
    border: 1px solid $main;
    margin: 10px 0 20px 14%;
    color: $main;
    &:hover {
      background: $main;
      color: $white;
      cursor: pointer;
    }
  }
  h2 {
    font-family: $sans;
    font-weight: lighter;
    text-align: center;
    color: $white;
    background: $main;
    font-size: 1.7rem;
    letter-spacing: -0.7px;
    position: relative;
    bottom: 45px;
    width: 350px;
    margin: 30px auto;
  }
  h4 {
    text-align: center;
    font-weight: lighter;
    margin-top: 45px;
    &::before {
      content: '';
      width: 90%;
      margin: 10px auto 20px auto;
      display: block;
      border-top: 1px solid darken($gray, 10%);
    }
  }
  #flavor-profile-title {
    text-align: left;
    font-family: $serif;
    margin-left: 25px;
    &::before {
      border: none;
    }
  }
  #cocktail-name, #cocktail-instructions {
    display: block;
    width: 90%;
    margin: 15px auto;
    font-size: 0.9rem;
    padding: 10px;
  }
  #cocktail-name-wrapper {
    margin: 0 0 5px 0;
  }
  #cocktail-instructions {
    height: 100px;
  }
  #new-ingredient-wrapper, #new-ingredient-quantity-wrapper {
    width: 40%;
    margin: 5px 0 0 25px;
    label {
      margin: 0 5px 0 0;
    }
    input {
      width: 65%;
      font-size: 0.9rem;
      padding: 10px;
      box-sizing: border-box;
    }
    #new-ingredient {
      display: inline-block;
      margin-left: 14%;
    }
  }
  #new-ingredient-quantity-wrapper label {
    margin-right: 18px;
  }
  #cocktail-glass-wrapper {
    input {
      display: block;
      width: 90%;
      margin: 15px auto;
      font-size: 0.9rem;
      padding: 10px;
    }
  }
  #cocktail-difficulty-wrapper {
    margin-top: 40px;
  }
  #image-uploader-wrapper {
    margin-top: 25px;
    p {
      margin-left: 25px;
    }
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
    }
    label {
      background: $white;
      color: $main;
      border: 2px solid $main;
      padding: 10px;
      font-size: 0.9rem;
      &:hover {
        background: $main;
        color: $white;
        cursor: pointer;
      }
    }
  }
  #submit-cocktail {
    display: block;
    margin: 20px auto 5px auto;
    width: 80%;
    background: $main;
    border: 2px solid $main;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    color: $white;
    padding: 5px 10px;
    font-size: 1rem;
    outline: none;
    &:hover {
      color: $main;
      background: $white;
      cursor: pointer;
    }
  }
  div {
    margin: 40px 0 5px 0;
  }
  label {
    margin: 0 25px;
  }
  #flavor-profile-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: $gray;
    text-align: left;
    justify-content: center;
    input {
      width: 0;
      opacity: 0;
      display: flex;
      &:checked + label {
        background: $main;
        color: $white;
      }
    }
    label {
      margin: 10px 0;
      padding: 0 15px;
      display: flex;
      background: darken($gray, 5%);
      &:hover {
        background: $main;
        color: $white;
        cursor: pointer;
      }
    }
  }
}
#ingredients-list {
  p {
    display: inline-block;
    margin: 0 5px;
  }
  #delete-btn {
    padding: 0 0 10px 0;
    background: none;
    border: none;
    color: $main;
    &:hover {
      color: $black;
      cursor: pointer;
    }
  }
}

#dashboard-page {
  #custom-cocktail-form {
    width: 100%;
    margin: 20px auto;
    border: none;
  }
}

@media (max-width: 500px) {
  #custom-cocktail-form {
    width: 100%;
    border: none;
    h2 {
      width: 100%;
      margin: 150px 0 0 0;
      background: none;
      color: $main;
    }
    #cocktail-name {
      width: 85%;
      box-sizing: border-box;
      border: 1px solid $gray;
    }
    #cocktail-instructions {
      width: 85%;
      box-sizing: border-box;
      border: 1px solid $gray;
    }
    #cocktail-glass-wrapper {
      input {
        width: 85%;
        box-sizing: border-box;
        border: 1px solid $gray;
      }
    }
    #new-ingredient-wrapper, #new-ingredient-quantity-wrapper {
      display: block;
      width: 85%;
      margin: 0 auto;
      input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $gray;
      }
      #new-ingredient {
        margin: 0;
        display: block;
      }
    }
    #add-ingredient {
      width: 75px;
      margin: 15px auto 5px auto;
      display: block;
    }
    #flavor-profile-wrapper {
      margin: 0 auto;
      padding: 25px 5px;
      box-sizing: border-box;
      label {
        padding: 15px;
      }
      input {
        margin-right: 5px;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}
