#cocktail-list {
  margin: 0 auto;
}

#result-list {
  margin: 150px auto 0 auto;
}

#cocktail-list, #result-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  .app-titles {
    width: 100%;
    font-family: $sans, sans-serif;
    margin-top: 30px;
    &::after {
      margin-left: 8px;
    }
    &::before {
      margin-right: 8px;
    }
    &::after, &::before {
      position: relative;
      bottom: 8px;
      content: '';
      display: inline-block;
      width: 30%;
      border-top: 1px solid $main;
    }
  }
  .drink-preview {
    display: flex;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    .drink-img {
      height: 319px;
      background-size: cover;
    }
    h4 {
      position: relative;
      top: 232px;
      padding: 10px;
      background: linear-gradient(to bottom, rgba($black, 0.2), rgba($black, 0.4), rgba($black, 0.8));
      color: $white;
      font-family: $sans, sans-serif;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .bookmark-icon {
      font-size: 3rem;
      position: relative;
      right: 37%;
      top: -3px;
      color: $black;
      transition: opacity 0.5s;
      transition: color 0.5s;
      &:hover {
        color: $main;
        cursor: pointer;
      }
    }
    .favorite-icon {
      font-size: 2rem;
      position: relative;
      left: 39%;
      top: -5px;
      color: $main;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1200px) {
  #cocktail-list, #result-list {
    .drink-preview {
      width: calc(100% / 2 - 20px);
    }
  }
}

@media (max-width: 800px) {
  #cocktail-list, #result-list {
    .drink-preview {
      width: calc(100%);
    }
  }
}

@media (max-width: 550px) {
  #cocktail-list, #result-list {
    width: 100%;
    margin-top: 80px;
    .drink-preview {
      width: calc(100%);
      margin: 20px 7%;
      .favorite-icon {
        left: 33%;
      }
      .bookmark-icon {
        right: 32%;
      }
    }
  }
}
