nav {
  background: #ff7b68;
  color: $white;
  padding: 25px 10px;
}

.drink-preview {
  display: inline-block;
  width: 300px;
  height: 300px;
  img {
    height: 300px;
    width: 300px
  }
  h4 {
    position: relative;
    bottom: 63px;
    padding: 10px;
    background: rgba($white, 0.7);
    color: $black;
  }
}
