#filter-bar {
  background: $white;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  border: 1px solid $gray;
  h6 {
    font-size: 1rem;
    text-align: center;
    margin: 0 0 5px 0;
  }
  div {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
  }
  #filter-flavor-wrapper {
    ul {
      padding-left: 10%;
      margin: 0;
      float: left;
      text-align: left;
      li {
        margin: 5px 0;
      }
    }
  }
  #filter-difficulty-wrapper {
    input {
      margin-top: 50px;
    }
  }
  #filter-alcohol-wrapper {
    form {
      margin-top: 45px;
    }
  }
  input[type=button] {
    position: relative;
    top: 12px;
    left: 58%;
    background: none;
    color: $main;
    border: 1px solid $main;
    font-size: 0.9rem;
    padding: 5px;
    &:hover, &:focus {
      background: $main;
      color: $white;
      outline: none;
      cursor: pointer;
    }
  }
}
