#how-it-works {
  width: 90%;
  margin: 0 auto;
  p {
    line-height: 1.4rem;
  }
  h2 {
    width: 100%;
    font-family: $sans, sans-serif;
    margin-top: 60px;
    text-align: center;
    &::after {
      margin-left: 8px;
    }
    &::before {
      margin-right: 8px;
    }
    &::after, &::before {
      position: relative;
      bottom: 8px;
      content: '';
      display: inline-block;
      width: 28%;
      border-top: 1px solid $main;
    }
  }
  div {
    display: inline-block;
    margin: 10px;
    width: calc(100% /3 - 20px);
    h5 {
      font-size: 1.2rem;
      text-align: center;
      font-weight: lighter;
      font-family: $sans, sans-serif;
    }
  }
}

@media (min-width: 1600px) {
  #how-it-works {
    width: 55%;
  }
}

@media (min-width: 1300px) {
  #how-it-works {
    width: 65%;
  }
}

@media (min-width: 1100px) {
  #how-it-works {
    width: 75%;
  }
}
