header {
  background: linear-gradient(to bottom, rgba($main, 0.9), rgba($main, 0.6));
  height: 560px;
  h2 {
    font-size: 2.5rem;
    color: $white;
    text-align: center;
    font-family: Raleway, sans-serif;
    padding-top: 220px;
    font-weight: 300;
  }
  #assessment-link {
    color: $white;
    display: block;
    width: 240px;
    margin: 0 auto;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    padding: 7px;
    border: 4px solid $white;
    &:hover {
      background: $white;
      color: $main;
    }
  }
}
  #search-bar-form {
    display: inline-block;
    width: 330px;
    height: 45px;
    text-align: center;
    h2 {
      font-size: 4rem;
      font-family: Raleway, sans-serif;
      color: $white;
      margin: 0;
    }
    #search-input {
      padding: 13px 3px 13px 25px;
      box-sizing: border-box;
      font-size: 1rem;
      width: 100%;
      background: rgba($gray, 0.8);
      border: none;
      &:focus {
        border-bottom: none;
        outline: none;
      }
    }
    #search-icon-btn {
      position: relative;
      font-size: 1rem;
      right: 152px;
      bottom: 35px;
      background: none;
      border: none;
    }
  }
    #results-dropdown {
      position: absolute;
      left: 10px;
      top: 54px;
      padding: 0 10px;
      margin: 0;
      width: 330px;
      overflow: scroll;
      box-sizing: border-box;
      background: $gray;
      h6 {
        font-size: 1rem;
        margin: 10px 0;
        }
      li {
        border-top: 1px solid #e4dddd;
        &:hover {
          color: $main;
          cursor: pointer;
          }
        }
      }

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  padding: 10px;
  height: 40px;
  background: $white;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
  #show-filter-options {
    position: relative;
    bottom: 35px;
    margin-left: 10px;
    background: none;
    border: 1px solid $main;
    color: $main;
    font-size: 1rem;
    &:hover, &:active {
      background: $main;
      color: $white;
      outline: none;
      cursor: pointer;
    }
  }
  #logo {
    position: relative;
    text-align: center;
    bottom: 16px;
    img {
      height: 50px;
      opacity: 0.8;
    }
  }
  a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: $main;
  }
  #custom-link {
    position: absolute;
    top: 12px;
    right: 68px;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 1px solid $main;
    padding: 0px 12px 2px 12px;
    margin: 0;
    &:hover {
      background: $main;
      color: $white;
    }
  }
  }
  #login-links {
    float: right;
    margin-right: 3%;
    p {
      color: $main;
      font-weight: bolder;
      text-decoration: underline;
      &:hover {
        color: $black;
        cursor: pointer;
      }
    }
  }
  #user-info-link {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-left: 10px;
    i {
      font-size: 1.5rem;
      background: white;
      padding: 6px 9px;
      border-radius: 50%;
      color: rgba($main, 0.7);
      &:hover {
        color: $black;
      }
    }
  }

#filter-options {
  display: block;
  padding: 0;
  text-align: center;
  background: $gray;
  margin: 0;
  padding: 15px 0;
  li {
    display: inline-block;
    margin: 0 3%;
  }
}

@media (max-width: 300px) {
  #search-bar-form {
    width: 65%;
    margin-left: 8%;
    &::after {
      content: "";
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      width: 1rem;
      height: 0.125rem;
      border-top: 0.375rem double $main;
      border-bottom: 0.125rem solid $main;
    }
    #search-input {
      width: 0;
      padding: 0;
    }
    #search-icon-btn {
      left: 45%;
      bottom: -7px;
      color: $main;
    }
  }
  nav {
    height: 33px;
    a {
      margin: 0;
    }
    #show-filter-options {
      display: none;
    }
    #logo {
      float: left;
      bottom: 0;
      margin-left: 2%;
      img {
        height: 35px;
      }
    }
    #custom-link {
      display: none;
    }
  }
  #user-info-link {
    display: none;
  }

  header {
    height: 360px;
    h2 {
      padding-top: 110px;
      font-size: 2rem;
    }
  }

  #how-it-works {
    border-bottom: 1px solid $gray;
    h2 {
      display: none;
    }
  #about-cocktails, #about-traitify, #about-match {
      display: block;
      width: 95%;
      margin: 0 auto;
    }
  }

  #cocktail-list {
    .app-titles {
      display: none;
    }
  }
}
