nav {
  background: rgba($main, 0.7);
  padding: 25px 10px;
  a {
    margin: 5px;
    text-decoration: none;
    color: $white;
  }
  #search-bar-form {
    display: inline-block;
    position: absolute;
    z-index: 5;
    #search-input {
      padding: 5px 3px 5px 23px;
      font-size: 1rem;
      width: 185px;
      background: $gray;
      border: none;
      &:focus {
        border-bottom: none;
        outline: none;
      }
    }
    #search-icon-btn {
      position: relative;
      font-size: 1rem;
      right: 214px;
      background: none;
      border: none;
    }
  }
    #results-dropdown {
      position: absolute;
      top: 35px;
      padding: 0 10px;
      margin: 0;
      width: 211px;
      overflow: scroll;
      box-sizing: border-box;
      background: $gray;
      h6 {
        font-size: 1rem;
        margin: 20px 0;
        }
      li {
        border-top: 1px solid #e4dddd;
        &:hover {
          color: $main;
          cursor: pointer;
          }
        }
      }
  }
  #login-links {
    float: right;
  }
  #user-info-link {
    float: right;
    position: relative;
    bottom: 7px;
    i {
      font-size: 1.5rem;
      background: white;
      padding: 6px 9px;
      border-radius: 50%;
      color: rgba($main, 0.7);
    }
  }

#filter-options {
  display: block;
  padding: 0;
  text-align: center;
  background: $gray;
  margin: 0;
  padding: 15px 0;
  li {
    display: inline-block;
    margin: 0 3%;
  }
}
