header {
  background-image: url('assets/images/hero.jpg');
  height: 560px;
  background-size: cover;
  background-position-y: -20px;
  #search-bar-form {
    display: inline-block;
    width: 380px;
    height: 45px;
    text-align: center;
    h2 {
      font-size: 4rem;
      font-family: Raleway, sans-serif;
      color: $white;
      margin: 0;
    }
    #search-input {
      padding: 13px 3px 13px 25px;
      box-sizing: border-box;
      font-size: 1rem;
      width: 100%;
      background: rgba($gray, 0.8);
      border: none;
      &:focus {
        border-bottom: none;
        outline: none;
      }
    }
    #search-icon-btn {
      position: relative;
      font-size: 1rem;
      right: 177px;
      bottom: 35px;
      background: none;
      border: none;
    }
  }
    #results-dropdown {
      position: absolute;
      left: 0.65%;
      bottom: 163px;
      padding: 0 10px;
      margin: 0;
      width: 380px;
      overflow: scroll;
      box-sizing: border-box;
      background: $gray;
      h6 {
        font-size: 1rem;
        margin: 10px 0;
        }
      li {
        border-top: 1px solid #e4dddd;
        &:hover {
          color: $main;
          cursor: pointer;
          }
        }
      }
}

nav {
  padding: 10px;
  height: 40px;
  background: $white;
  #show-filter-options {
    position: relative;
    bottom: 35px;
    margin-left: 10px;
    background: none;
    border: 1px solid $main;
    color: $main;
    font-size: 1rem;
    &:hover, &:active {
      background: $main;
      color: $white;
      outline: none;
    }
  }
  a {
    position: relative;
    bottom: 37px;
    margin: 0 15px;
    text-decoration: none;
    color: $main;
  }
  }
  #login-links {
    float: right;
  }
  #user-info-link {
    float: right;
    position: relative;
    bottom: 7px;
    i {
      font-size: 1.5rem;
      background: white;
      padding: 6px 9px;
      border-radius: 50%;
      color: rgba($main, 0.7);
    }
  }

#filter-options {
  display: block;
  padding: 0;
  text-align: center;
  background: $gray;
  margin: 0;
  padding: 15px 0;
  li {
    display: inline-block;
    margin: 0 3%;
  }
}

@media (max-width: 550px) {
  nav {
    background: $white;
    padding: 15px 10px;
    a {
      color: $main;
    }
    #login-links {
    float: right;
    position: relative;
    bottom: 89px;
    }
    #search-bar-form {
      width: 100%;
    }
    #search-input {
      margin: 10px auto 0 auto;
      display: block;
    }
    #results-dropdown {
      top: 73px;
    }
  }
#filter-options {
  display: none;
  }
}
