.recipe-title {
  font-size: 2.5rem;
  font-family: Raleway, sans-serif;
  text-align: center;
}
#recipe-drink-img {
  height: 370px;
  width: 30%;
  margin-right: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: right;
}

.ingredients {
  display: inline-block;
  width: 30%;
  margin-left: 20%;
  h4 {
    font-size: 1.5rem;
  }
  ul {
    padding: 0 0 0 10px;
    margin: 0;
  }
}

.mixing-instructions {
  width: 30%;
  display: inline-block;
  margin-left: 20%;
  h4 {
    font-size: 1.5rem;
  }
}

.ingredients-list {
  display: inline-block;
}

#back-btn {
  background: none;
  margin: 2%;
  border: none;
  font-size: 0.9rem;
  color: $black;
  &:hover{
    cursor: pointer;
    color: $main;
  }
}

@media (max-width: 550px) {

}
