.recipe-title {
  font-size: 2.5rem;
  font-family: Raleway, sans-serif;
  text-align: center;
}
#recipe-drink-img {
  height: 370px;
  width: 25%;
  margin-right: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: right;
  #recipe-icons {
    position: relative;
    top: 102%;
    .bookmark-icon {
      font-size: 1.5rem;
      color: $black;
      transition: opacity 0.5s;
      transition: color 0.5s;
      &:hover {
        color: $main;
        cursor: pointer;
      }
    }
    .favorite-icon {
      font-size: 1.5rem;
      color: $main;
      transition: transform 0.5s;
      margin-left: 5px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}

.ingredients {
  display: inline-block;
  width: 30%;
  margin-left: 20%;
  h4 {
    font-size: 1.5rem;
  }
  ul {
    padding: 0 0 0 10px;
    margin: 0;
  }
}

.mixing-instructions {
  width: 30%;
  display: inline-block;
  margin-left: 20%;
  h4 {
    font-size: 1.5rem;
  }
}

.ingredients-list {
  display: inline-block;
}

#back-btn {
  background: none;
  margin: 2%;
  border: none;
  font-size: 0.9rem;
  color: $black;
  &:hover{
    cursor: pointer;
    color: $main;
  }
}

#similar-drinks {
  margin: 100px auto;
  padding: 0;
  text-align: center;
  h4 {
    font-size: 1.3rem;
    font-family: Raleway, sans-serif;
    &::before, &::after{
      content: '';
      width: 240px;
      height: 0;
      border-top: 1px solid $main;
      display:inline-block;
      position: relative;
      bottom: 5px;
      margin: 0 3px;
    }
  }
  li {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $main;
        text-decoration: underline;
      }
    }
  }
}
