#results-section{
  margin: 150px auto;
  width: 70%;
  h3 {
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    margin: 5px 10px;
    display: inline-block;
  }
  #drink-image-results {
    height: 300px;
    width: 40%;
    margin-right: 3%;
    background-size: cover;
    float: left;
  }
  a {
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: $main;
    display: block;
    text-align: center;
    margin-top: 50px;
    &:hover {
      color: $black;
    }
  }
  ul {
    padding: 10px;
    height: 250px;
    width: 52%;
    display: inline-block;
    overflow: scroll;
    margin: 0 5% 0 0;
    border: 1px solid $gray;
    box-sizing: border-box;
    h5 {
      font-size: 1rem;
      margin: 5px 0;
      font-family: Raleway, sans-serif;
      font-weight: bolder;
    }
  }
}
