@import 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Lora:400,700';
@import 'variables';
@import 'nav';
@import 'confirm';
@import 'drink-list';
@import 'assessment';
@import 'modal';
@import 'recipe';
@import 'results';
@import 'searchResults';
@import 'filter';
@import 'how';
@import 'custom';
@import 'dashboard';
@import 'notfound';

body {
  margin: 0;
  font-family: 'Lora', serif;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}
