@import 'https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700|Slabo+27px';
@import 'variables';
@import 'nav';
@import 'confirm';
@import 'drink-list';
@import 'assessment';
@import 'modal';

body {
  margin: 0;
  font-family: 'Slabo 27px';
}

li {
  list-style: none;
}
