@import "https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700|Slabo+27px";
header {
  background-image: url("assets/images/hero.jpg");
  height: 560px;
  background-size: cover;
  background-position-y: -20px; }
  header #search-bar-form {
    display: inline-block;
    width: 380px;
    height: 45px;
    text-align: center; }
    header #search-bar-form h2 {
      font-size: 4rem;
      font-family: Raleway, sans-serif;
      color: #fff;
      margin: 0; }
    header #search-bar-form #search-input {
      padding: 13px 3px 13px 25px;
      box-sizing: border-box;
      font-size: 1rem;
      width: 100%;
      background: rgba(238, 238, 238, 0.8);
      border: none; }
      header #search-bar-form #search-input:focus {
        border-bottom: none;
        outline: none; }
    header #search-bar-form #search-icon-btn {
      position: relative;
      font-size: 1rem;
      right: 177px;
      bottom: 35px;
      background: none;
      border: none; }
  header #results-dropdown {
    position: absolute;
    left: 0.9%;
    top: 54px;
    padding: 0 10px;
    margin: 0;
    width: 380px;
    overflow: scroll;
    box-sizing: border-box;
    background: #EEEEEE; }
    header #results-dropdown h6 {
      font-size: 1rem;
      margin: 10px 0; }
    header #results-dropdown li {
      border-top: 1px solid #e4dddd; }
      header #results-dropdown li:hover {
        color: #FF3C38;
        cursor: pointer; }

nav {
  padding: 10px;
  height: 40px;
  background: #fff; }
  nav #show-filter-options {
    position: relative;
    bottom: 35px;
    margin-left: 10px;
    background: none;
    border: 1px solid #FF3C38;
    color: #FF3C38;
    font-size: 1rem; }
    nav #show-filter-options:hover, nav #show-filter-options:active {
      background: #FF3C38;
      color: #fff;
      outline: none; }
  nav a {
    position: relative;
    bottom: 37px;
    margin: 0 15px;
    text-decoration: none;
    color: #FF3C38; }

#login-links {
  float: right; }

#user-info-link {
  float: right;
  position: relative;
  bottom: 7px; }
  #user-info-link i {
    font-size: 1.5rem;
    background: white;
    padding: 6px 9px;
    border-radius: 50%;
    color: rgba(255, 60, 56, 0.7); }

#filter-options {
  display: block;
  padding: 0;
  text-align: center;
  background: #EEEEEE;
  margin: 0;
  padding: 15px 0; }
  #filter-options li {
    display: inline-block;
    margin: 0 3%; }

@media (max-width: 550px) {
  nav {
    background: #fff;
    padding: 15px 10px; }
    nav a {
      color: #FF3C38; }
    nav #login-links {
      float: right;
      position: relative;
      bottom: 89px; }
    nav #search-bar-form {
      width: 100%; }
    nav #search-input {
      margin: 10px auto 0 auto;
      display: block; }
    nav #results-dropdown {
      top: 73px; }

  #filter-options {
    display: none; } }
video {
  position: fixed;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh; }

#age-validation {
  position: absolute;
  top: 35%;
  z-index: 3;
  color: #fff;
  font-size: 2rem;
  font-family: Raleway, sans-serif;
  width: 100%;
  text-align: center; }
  #age-validation input {
    background: none;
    border: 3px solid #fff;
    font-size: 1rem;
    color: #fff;
    width: 150px;
    margin: 10px;
    padding: 12px; }
    #age-validation input:hover {
      background: #fff;
      color: #454545; }

#cocktail-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  padding: 0; }
  #cocktail-list h2 {
    width: 100%;
    font-family: Raleway, sans-serif;
    margin-top: 30px; }
    #cocktail-list h2::after {
      margin-left: 8px; }
    #cocktail-list h2::before {
      margin-right: 8px; }
    #cocktail-list h2::after, #cocktail-list h2::before {
      position: relative;
      bottom: 8px;
      content: '';
      display: inline-block;
      width: 30%;
      border-top: 1px solid #FF3C38; }
  #cocktail-list .drink-preview {
    display: flex;
    width: calc(100% / 3 - 20px);
    margin: 10px;
    flex-direction: column;
    justify-content: space-between; }
    #cocktail-list .drink-preview:hover {
      cursor: pointer; }
    #cocktail-list .drink-preview div {
      height: 320px;
      background-size: cover; }
    #cocktail-list .drink-preview h4 {
      position: relative;
      top: -6.5%;
      padding: 289px 12px 12px 12px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(69, 69, 69, 0.1), rgba(69, 69, 69, 0.8));
      color: #fff;
      font-family: Raleway, sans-serif; }

@media (max-width: 1200px) {
  #cocktail-list .drink-preview {
    width: calc(100% / 2 - 20px); } }
@media (max-width: 800px) {
  #cocktail-list .drink-preview {
    width: calc(100%); } }
@media (max-width: 550px) {
  #cocktail-list {
    width: 100%; }
    #cocktail-list .drink-preview {
      width: calc(100%);
      margin: 20px 7%; } }
.assessment-section {
  width: 80%;
  text-align: center;
  margin: 0 auto; }
  .assessment-section img {
    height: 100px; }
  .assessment-section #start-assessment-btn {
    background: none;
    border: none;
    background: #EEEEEE;
    color: #FF3C38;
    font-size: 1rem; }
    .assessment-section #start-assessment-btn:hover, .assessment-section #start-assessment-btn:focus {
      background: #FF3C38;
      color: #fff;
      outline: none; }

#question-section {
  padding: 0 20px;
  margin: 0 auto; }
  #question-section h3 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: lighter;
    font-family: Raleway, sans-serif; }
  #question-section #not-me, #question-section #me {
    width: 46%;
    margin: 2%;
    display: inline-block;
    text-align: center;
    border: 1px solid #454545;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 60px;
    font-size: 1.5rem;
    letter-spacing: 1.5px; }
  #question-section #select-answer {
    width: 60%;
    margin: 0 auto; }
    #question-section #select-answer #not-me:hover {
      background: linear-gradient(80deg, rgba(255, 145, 69, 0.9), rgba(255, 60, 56, 0.7));
      color: #fff;
      border: none; }
    #question-section #select-answer #me:hover {
      background: linear-gradient(80deg, rgba(255, 60, 56, 0.9), rgba(255, 145, 69, 0.7));
      color: #fff;
      border: none; }

@media (max-width: 500px) {
  .assessment {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 60, 56, 0.9) 60%, rgba(255, 145, 69, 0.7)); }

  #question-section h3 {
    margin-top: 35%;
    color: #fff;
    font-size: 2.2rem; }
  #question-section div {
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 15px; }
    #question-section div #not-me:hover, #question-section div #yes-me:hover {
      background: #fff;
      color: #FF3C38; } }
.login-signup-form, .user-info-form {
  text-align: center; }
  .login-signup-form i, .user-info-form i {
    font-size: 1rem;
    margin-top: 1px; }
  .login-signup-form .login-title, .user-info-form .login-title {
    margin-top: 23%;
    letter-spacing: 1px;
    font-family: Raleway, sans-serif; }
  .login-signup-form .signup-title, .user-info-form .signup-title {
    margin-top: 10%; }
  .login-signup-form input, .user-info-form input {
    width: 55%;
    font-size: 0.8rem;
    line-height: 1.3rem;
    padding-left: 5px;
    margin: 0 0 10px 10px; }
    .login-signup-form input:hover, .login-signup-form input:active, .login-signup-form input:focus, .user-info-form input:hover, .user-info-form input:active, .user-info-form input:focus {
      outline: none;
      box-shadow: 1px 3px 3px 1px rgba(255, 60, 56, 0.9); }
  .login-signup-form input[type="submit"], .user-info-form input[type="submit"] {
    width: 110px;
    display: block;
    margin: 0 auto;
    background: #454545;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    border: none;
    box-shadow: 1px 2px 3px 1px rgba(69, 69, 69, 0.3); }
    .login-signup-form input[type="submit"]:hover, .user-info-form input[type="submit"]:hover {
      background: #FF3C38; }
  .login-signup-form a, .user-info-form a {
    color: #FF3C38;
    font-weight: bolder;
    margin-left: 5px; }
    .login-signup-form a:hover, .user-info-form a:hover {
      color: #454545; }

.user-info-form {
  margin-top: 28%; }
  .user-info-form #logout-btn {
    width: 200px;
    margin: 10% auto 0 auto;
    display: block;
    background: #FF3C38;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5px;
    padding: 5px 10px;
    border: none;
    box-shadow: 1px 2px 3px 1px rgba(69, 69, 69, 0.3); }
    .user-info-form #logout-btn:hover {
      background: #454545; }

.recipe-title {
  font-size: 2.5rem;
  font-family: Raleway, sans-serif;
  text-align: center; }

#recipe-drink-img {
  height: 370px;
  width: 30%;
  margin-right: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: right; }

.ingredients {
  display: inline-block;
  width: 30%;
  margin-left: 20%; }
  .ingredients h4 {
    font-size: 1.5rem; }
  .ingredients ul {
    padding: 0 0 0 10px;
    margin: 0; }

.mixing-instructions {
  width: 30%;
  display: inline-block;
  margin-left: 20%; }
  .mixing-instructions h4 {
    font-size: 1.5rem; }

.ingredients-list {
  display: inline-block; }

#back-btn {
  background: none;
  margin: 2%;
  border: none;
  font-size: 0.9rem;
  color: #454545; }
  #back-btn:hover {
    cursor: pointer;
    color: #FF3C38; }

#results-section {
  margin-top: 50px; }
  #results-section h3 {
    font-size: 2rem;
    font-family: Raleway, sans-serif;
    margin: 10px 0;
    display: inline-block; }
  #results-section #drink-image-results {
    height: 300px;
    width: 300px;
    background-size: contain;
    float: left; }
  #results-section a {
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #FF3C38;
    display: block;
    text-align: center;
    margin-top: 50px; }
    #results-section a:hover {
      color: #454545; }
  #results-section ul {
    padding: 10px;
    height: 250px;
    overflow: scroll;
    margin: 0 5% 0 0;
    box-sizing: border-box; }
    #results-section ul h5 {
      font-size: 1rem;
      margin: 5px 0;
      font-family: Raleway, sans-serif;
      font-weight: bolder; }

#search-results-page ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  padding: 0; }
  #search-results-page ul .drink-preview {
    display: flex;
    width: calc(100% / 4);
    flex-direction: column;
    justify-content: space-between; }
    #search-results-page ul .drink-preview:hover {
      cursor: pointer; }
    #search-results-page ul .drink-preview div {
      height: 320px;
      background-size: cover; }
    #search-results-page ul .drink-preview h4 {
      position: relative;
      top: -6.5%;
      padding: 289px 12px 12px 12px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(69, 69, 69, 0.1), rgba(69, 69, 69, 0.8));
      color: #fff;
      font-family: Raleway, sans-serif; }

@media (max-width: 1200px) {
  #search-results-page ul .drink-preview {
    width: calc(100% / 3); } }
@media (max-width: 800px) {
  #search-results-page ul .drink-preview {
    width: calc(100% / 2); } }
@media (max-width: 550px) {
  #search-results-page ul .drink-preview {
    width: calc(100%);
    margin: 20px 7%; } }
#filter-bar {
  background: #EEEEEE;
  color: #FF3C38;
  font-size: 1rem; }
  #filter-bar h6 {
    font-size: 1rem;
    margin: 0; }
  #filter-bar ul {
    margin: 0;
    display: inline-block; }
  #filter-bar #filter-flavor-wrapper, #filter-bar #filter-alcohol-wrapper {
    display: inline-block;
    width: 32%; }
    #filter-bar #filter-flavor-wrapper #flavor-profile-2, #filter-bar #filter-flavor-wrapper #alcohol-list-2, #filter-bar #filter-alcohol-wrapper #flavor-profile-2, #filter-bar #filter-alcohol-wrapper #alcohol-list-2 {
      float: left; }
    #filter-bar #filter-flavor-wrapper li, #filter-bar #filter-alcohol-wrapper li {
      font-size: 0.8rem; }
  #filter-bar #filter-difficulty-wrapper {
    display: inline-block;
    width: 32%; }

body {
  margin: 0;
  font-family: 'Slabo 27px'; }

li {
  list-style: none; }

/*# sourceMappingURL=main.css.map */
